.piece {
  width: 76px;
  height: 76px;
  font-size: 48px;
}

.facing-north {
  transform: rotate(0deg);
}

.facing-east {
  transform: rotate(90deg);
}

.facing-south {
  transform: rotate(180deg);
}

.facing-west {
  transform: rotate(270deg);
}

.white {
  color: grey;
}

.black {
  color: brown;
}

.pawn-shield-white {
  background-image: url('img/white_pawn_shield.png');
}

.pawn-shield-black {
  background-image: url('img/black_pawn_shield.png');
}

.pawn-90-deg-white {
  background-image: url('img/white_pawn_90_degree.png');
}

.pawn-90-deg-black {
  background-image: url('img/black_pawn_90_degree.png');
}

.pawn-threeway-white {
  background-image: url('img/white_pawn_threeway.png');
}

.pawn-threeway-black {
  background-image: url('img/black_pawn_threeway.png');
}

.bishop-white:before {
  content: '♗';
}

.bishop-black:before {
  content: '♝';
}

.knight-white {
  background-image: url('img/white_knight.png');
}

.knight-black {
  background-image: url('img/black_knight.png');
}

.rook-white:before {
  content: '♖';
}

.rook-black:before {
  content: '♜';
}

.queen-white:before {
  content: '♕';
}

.queen-black:before {
  content: '♛';
}

.king-white:before {
  content: '♔';
}

.king-black:before {
  content: '♚';
}

.laser-white:before {
  content: '🔫';
}

.laser-black:before {
  content: '🔫';
}
