.piece {
  display: inline-block;
  transform: scale(1.5);
}

.facing-north {
  transform: rotate(0deg) scale(1.5);
}

.facing-east {
  transform: rotate(90deg) scale(1.5);
}

.facing-south {
  transform: rotate(180deg) scale(1.5);
}

.facing-west {
  transform: rotate(270deg) scale(1.5);
}

.pawn-white:before {
  content: '♙';
}

.pawn-black:before {
  content: '♟';
}

.bishop-white:before {
  content: '♗';
}

.bishop-black:before {
  content: '♝';
}

.knight-white:before {
  content: '♘';
}

.knight-black:before {
  content: '♞';
}

.rook-white:before {
  content: '♖';
}

.rook-black:before {
  content: '♜';
}

.queen-white:before {
  content: '♕';
}

.queen-black:before {
  content: '♛';
}

.king-white:before {
  content: '♔';
}

.king-black:before {
  content: '♚';
}

.laser-white:before {
  content: '🔫';
}

.laser-black:before {
  content: '🔫';
}
