.piece {
  width: 76px;
  height: 76px;
  font-size: 48px;
}

.facing-north {
  transform: rotate(0deg);
}

.facing-east {
  transform: rotate(90deg);
}

.facing-south {
  transform: rotate(180deg);
}

.facing-west {
  transform: rotate(270deg);
}

.white {
  color: grey;
}

.black {
  color: brown;
}

.pawn-shield-white {
  background-image: url('img/white_pawn_shield.png');
}

.pawn-shield-black {
  background-image: url('img/black_pawn_shield.png');
}

.pawn-90-deg-white {
  background-image: url('img/white_pawn_90_degrees.png');
}

.pawn-90-deg-black {
  background-image: url('img/black_pawn_90_degrees.png');
}

.pawn-threeway-white {
  background-image: url('img/white_pawn_threeway.png');
}

.pawn-threeway-black {
  background-image: url('img/black_pawn_threeway.png');
}

.bishop-white {
  background-image: url('img/white_bishop.png');
}

.bishop-black {
  background-image: url('img/black_bishop.png');
}

.knight-white {
  background-image: url('img/white_knight.png');
}

.knight-black {
  background-image: url('img/black_knight.png');
}

.rook-white {
  background-image: url('img/white_rook.png');
}

.rook-black {
  background-image: url('img/black_rook.png');
}

.queen-white {
  background-image: url('img/white_queen.png');
}

.queen-black {
  background-image: url('img/black_queen.png');
}

.king-white {
  background-image: url('img/white_king.png');
}

.king-black {
  background-image: url('img/black_king.png');
}

.laser-white {
  background-image: url('img/white_laser.png');
}

.laser-black {
  background-image: url('img/black_laser.png');
}
